%encabezadoGral {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    position: relative
}

%titulos {
    text-align: center;
    font-size: 1.8rem;   
    font-family: "Raleway", sans-serif;
    margin: 2rem 0;
    text-transform: uppercase;
    font-weight: bold;
}