@import "./variables";
@import "./mixins";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./mq/mediaqueries";
@import "./extends";
@import "./components/button";



* {
    font-family: "Open Sans", sans-serif; 

}

body {
    background-color: $colorPrincipal;
    color: $colorSecundario;
    font-size: 1rem;
}