main {
    p {
        text-align: center;
    }
}

h2 {
    @extend %titulos;
}

h3 {
    @extend %titulos;
    font-size: 1.3rem;
}

.emprendimiento, .infoGeneral {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.historia, .queHacer {
    flex: 1;
    padding: 2rem;    
}

.seccionImagen, .seccionVideo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionImagen{
    img{
        max-width: 80%;
        height: auto;
    } 
}

/*cards*/

.card {
    @include card(#dcd4d4,2rem,underline);
}

.cardGuia {
    @include card(#39332f52,2rem,underline);
    margin-bottom: 2rem;
    
}


.card  {
    p {
        text-align: left;
        font-size: 0.9rem;
    }   
}

.card, .cardGuia {
    h3 {
        font-size: 1rem;
        text-align: center;
    } 
}

.img-card {
    width: 150px; 
    height: auto;
}
