.boton {
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $colorAcento;
    color: $colorSecundario;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;

    &:hover {
        background-color: #f0a926;
        cursor: pointer;
    }
}
